.App {
  text-align: center;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #454545;
  padding-top: 10vh;
  overflow: hidden;
}

#main {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 90vh;
}

#item-form { 
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  border-radius: 15px;
  /* padding-bottom: 1%;; */
}

select {
  height: 4vh;
  border-radius: 15px;
  border: solid 2.5px orangered;
  width: 10vw;
  text-align: center;
  font-size: large;
}

input {
  height: 3.5vh;
  width: 15vw;
  border-radius: 15px;
  border: solid 2.5px orangered;
  text-align: center;
  font-size: large;
}

button { 
  height: 3.5vh;
  width: 5vw;
  border-radius: 15px;
  border: none;
  background-color: orangered;
  color: white;
}

#link-btn {
  width: fit-content;
}

#input {
  display: flex;
  width: 50%;
  justify-content: space-between;
  border: none;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  background-color: lightgray;
  border-radius: 15px;
}

#item {
  margin: 0 5vw;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 35vw;
}

#item > h2 {
  width: 30%;
}

p {
  margin-left: 1vw;
}

#category {
  width: 20vw;
  text-align: center;
  font-size:large;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checked {
  text-decoration: line-through;
}

#filter {
  background-color: lightgray;
  border-radius: 15px; 
  padding-bottom: 2.5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
}